<div class="login__container">
  <h2 class="login__heading">Login</h2>
  <input class="login__input" type="text" placeholder="Username" />
  <input class="login__input" type="password" placeholder="Password" />
  <div class="login__checkbox-container">
    <label class="login__checkbox-label">
      <input type="checkbox" /> Remember me
    </label>
  </div>
  <button class="login__button" type="submit">Login</button>
  <a class="login__register-link" routerLink="/auth/register">Register</a>
</div>
