<div class="register__container">
  <h2 class="register__heading">Register</h2>
  <input class="register__input" type="text" placeholder="Username" />
  <input class="register__input" type="password" placeholder="Password" />
  <input
    class="register__input"
    type="password"
    placeholder="Repeat your password"
  />
  <button class="register__button" type="submit">Register</button>
  <a class="register__register-link" routerLink="/auth/login"
    >I've already have an accout</a
  >
</div>
